{% extends "master" %}

{% block title %}Számítógépek böngészése{% endblock %}
{% block content %}
  <h1>Számítógépek böngészése</h1>
  <form action="/computers" method="GET">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="inputCompName">Számítógép neve</label>
          <input type="text" class="form-control" placeholder="Számítógép neve" id="inputCompName" name="compName" value="{{ filters.compName }}">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="inputCreatedBy">Beküldte</label>
          <select class="form-control" id="inputCreatedBy" name="createdBy">
            <option value="">--</option>
            {% for user in users %}
            {% if filters.createdBy == user.id %}
            <option value="{{ user.id }}" selected>{{ user.username }}</option>
            {% else %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-block btn-primary" type="submit">Szűrés</button>
        </div>
      </div>
    </div>
  </form>
  <h2>Találatok ({{ computers.total }})</h2>
  {% for compBatch in computers.data | batch(3) %}
  <div class="row">
    {% for comp in compBatch %}
    <div class="col-md-4">
      <a class="result-item" href="/computers/{{ comp.id }}">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>{{ comp.name }}</strong><br>
            beküldte <em>{{ comp.user.username }}</em>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  Nincs a szűrésnek megfelelő számítógép.
  {% endfor %}
  {% if computers.lastPage > 1 %}
  <div class="text-center">
    <ul class="pagination">
      {% for page in range(1, computers.lastPage + 1) %}
      {% if page == computers.currentPage %}
      <li class="active">
        <a href="/computers?p={{ page }}&amp;compName={{ filters.compName }}&amp;createdBy={{ filters.createdBy }}">{{ page }}</a>
      </li>
      {% else %}
      <li><a href="/comuters?p={{ page }}&amp;compName={{ filters.compName }}&amp;createdBy={{ filters.createdBy }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}