{% extends 'master' %}

{% block content %}

<h1 align="center"><b>Géptár</b></h1>
<p align="center">Köszöntelek az oldalon!</p>
<p align="center">A fenti menüsor gombjaival navigálhatsz!</p>
<p align="center">Bizonyos funkciók használatához regisztráció/belépés szükséges!</p>

{% endblock %}